@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
*{
    font-family: 'Roboto Condensed', sans-serif;
}
.bookde{
    width:100%
}
.container1{
    display:flex;
    width:100%
    
}
.conatiner2{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    justify-items:center;
    align-content:center;
    margin-left:70px
    
}

.detials{
    width: 65%;
    height:auto;
    padding: 0;
    margin-left: 3em;
    /* margin:0; */
    border: 3px solid #02192d;
    border-radius: 5px;
    background-color:white;

    
}
.detials img{
    width: 150px;
    padding: 10px;
}
.unit{
    border-left: 5px groove #385fb7; 
    background-color: #e5eaf1;
    /* #f9eeee;; */
    margin:5px
}
.boltFont{
    font-weight:bold;
}

/* .bookde{
    display:flex;
    flex-direction: column;
    

} */
.Carousel{
    width:300px;
    /* height: 250px; */
}
.form-control{
    background-color:#e5eaf1;

}

/* .carouselItems {
    height: 20px;
    width: 10px;
} */

.buttonC{
  background-color: #02192d;
  color:white;


}
.buttonC a{
  background-color: #02192d;
  color:white;


}
.marginTop, tr td{
    /* padding-top: 20px;
    padding-top: 20px; */
    line-height: 7em;
}

tr:hover{
    background-color: #02192d70;
}
td:hover{
    background-color: #796c428e;
}
table
{
    box-shadow: 20px 20px 18px #888888;

}
.listDetailBook{
    width:17rem;
}