@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
.catGroup{
    text-transform: uppercase;
    font-size:15px;
    margin-top: -24px;

}
.CatList{
    width: 100%;
    color: #022e57;
    background-color: #917624c0;
    text-align: center;
    margin-bottom: 1.5em;
}
.CatList:hover{
    transform: scale(1.1);
    background-color: #917624e7;
    border-color: #022e57;
}

.searchForm{
    margin-bottom: 1.5em;
    margin-left: 35em;
}
.searchBackground{
    /* background-color: #ccbcaf; */
    padding-left: 15px;
    padding-right: -1px;
    border-radius: 10%;
    box-shadow: 1px 1px 1px 0.05px #9176248a;
}
.searchBackground:hover{
    transform: scale(1.01);
}
.searchButton {
    background-color: rgba(255, 248, 220, 0);
    border-color: rgba(255, 248, 220, 0);
    margin-left: -61px;
}
.searchButton:hover{
    background-color: rgba(255, 248, 220, 0);
    border-color: rgba(255, 248, 220, 0);
}

.global-class-name:hover{
    transform: scale(1.1);
}

 .searchButton:active{
    background-color: rgba(95, 158, 160, 0);
}
.helpIcon{
    margin-left: 30em;
    margin-top: -10px;
}
.helpIcon:hover{
    transform: scale(1.04);
}
.helpTool{
    position: relative;
  display: inline-block;
}
.helpTool .tooltiptext {
    visibility: hidden;
  width: 200px;
  background-color: #9176248a;
  opacity: 0.5;
  color: #021220;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 8%;
  }
  
  .helpTool .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #917624;
  }
  
  .helpTool:hover .tooltiptext {
    visibility: visible;
  }
/***********************CardPart*************************/
.cardRow{
    margin-left: 4em;
}
.booksPageCard{
    font-family: 'Happy Monkey', cursive;
    opacity: .95;
}
.cardButton:hover  {
    margin-top:-10px;
    opacity: 1;
}

.firstRow{
    display: flex;

}
.cardImg{
    height:190px;
    width:40%;
}
.bookTitle{
    /* text-align: left; */
}
.secondCol{
    margin-right: 15px;
    display: block;
    text-align: center;
}
.secondCol b{
    margin: 15px auto;
    text-transform: uppercase;
    /*To limit the text*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;

}
#container{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.listBook{
    width: 14.8rem;
    margin-top: 0vh;
    margin-bottom: 50px;

}

.listItem{
    margin-bottom: 0px;
    width: 10em;
    color: #022e57;
    background-color: #917624c0;
    text-align: center;
}
.listItem:hover{
    background-color: #917624e7;
    border-color: #022e57;
}
.listItem a{
    text-decoration: none;
    color: #022e57;
}
.myShowIcon:hover span,.myShopIcon:hover span,.myHeartIcon:hover span {
    display:none;

}
.myShowIcon:hover:before {
    content:"View";
}
.myShopIcon:hover:before {
    content:"Shop";
}
.myHeartIcon:hover:before {
    content:"Fav";
}
.myShowIcon:hover,.myShopIcon:hover,.myHeartIcon:hover  {
    width: 44.9px;
    text-align:left;
    color:cornsilk;  
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    height:0px;

}
/*********************BookModal************************/
.bookModal{
    color: #022e57;
}
.modalCardText{
    overflow: auto;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 16; /* number of lines to show */
    -webkit-box-orient: vertical;
    text-align: justify;
    padding-right: 20px;
}
.bookButton{
    background-color: #917624e7;
}
.bookTitle{
    margin-left: 5.5em;
    font-weight: bolder;
    text-transform:uppercase; 
    color:#917624e7;
}