/* .mycard{
    width:400px;
    display:flex;
    flex-direction:column;


}
#container {
    overflow-y:hidden;
    height: 200px;
    padding: 20px;
}
.inner-card{
    display:flex;
    flex-direction:row;
    width:400px


}
.box{
    display:flex;
    flex-direction:column;
    width:200px;
} */
#container {
    overflow-y:hidden;
    height: 50px;
    padding: 5px;
}
.cardImg{
    height:200px;
    width:100%;
}

.CatList,.listItem{
    width: 10em;
    color: #022e57;
    background-color: #917624c0;
    text-align: center;
    margin-bottom: 1.5em;
}
.CatList:hover,.listItem:hover{
    transform: scale(1.1);
    background-color: #917624e7;
    border-color: #022e57;
}
.global-class-name:hover{
    transform: scale(1.3);
}
.searchForm{
    margin-bottom: 1.5em;
}
.iconSearch{
size: 300px;
}

.mycard:hover  {
    font-size: 20px;
    transform: scale(1.1);
    
    }
.mycard:hover > div {
    background-color: #9176243f;
    }
    
.listBook{
    width: 18rem;
}
.listItem{
    width: 6em;
    text-align: center;
    margin-bottom: 0px;
}
.listItem a{
    text-decoration: none;
    color: #022e57;
}
.renderBooks{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}