a{
  color:#fff;
}

a:hover{
  color:darkgrey;
}


.NavBarPart{
  margin-left: 2rem;
  font-size: 120%;
  font-family:  "Lucida Console", "Courier New", monospace;	;
  text-decoration: none;
}

/* style={{textDecoration:'none'}} */
